<div class="logo"><img src="images/logo-250.png" width="380" height="250"></div>

Join us in transcribing records that document the lives of ordinary people living under the restrictions of the White Australia Policy. 

<a class="major-button" href="/#/intro">Get Started!</a>